.service {
    display: flex;
    align-items: center;

}

.logo-web{
    width:50px;
    height: auto;
    margin-right: 10px;
}
.programming{
    width:100px;
    height: auto;
    margin-right: 10px;
}