.service {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}

.logo-web{
    width:50px;
    height: auto;
    margin-right: 10px;
}

.web-programming{
    display: flex;
    align-items: center;
    margin: 2rem 0px;
}
.sub-title{
    text-align: center;
    font-weight: bold;
}
.programming{
    width:70px;
    height: auto;
    margin-right: 10px;
}
.development{
    width:70px;
    height: auto;
    margin-right: 10px;
}

.img-dev{
    width: 50%;
       
}
.dev{
    display: flex;
    margin-bottom: 1rem;
    
}
.dev p{
    margin-left: 1rem;
}
.img-webDev{
     width: 50%;
     margin-left: 6rem;
}