/* .container{
    width: 100%;
    padding: 2rem;
}

.service {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}

.logo-web{
    width:50px;
    height: auto;
    margin-right: 10px;
}

.web-programming{
    display: flex;
    align-items: center;
    
    gap: 1rem;
}
.sub-title{
    text-align: center;
    font-weight: bold;
}
.img-programming{
    width:70px;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
}
.img-development{
    width:70px;
    height: auto;
    margin-right: 10px;
}


.dev{
    display: flex;
    padding: 1rem 0;
    align-items: flex-start;
        
}
.dev ul {
    margin: 0;
    padding: 0;
    
  }
  
  .dev h3 {
    margin-bottom: 1rem;
  }
  
  .dev li {
    margin-bottom: 0.5rem;
  }

.dev p{
    margin-left: 1rem;
}
.img-webDev{
     width: 50%;
     margin-left: 6rem;
     object-fit: cover;
}
 */


 .container {
    width: 100%;
    padding: 2rem;
  }
  
  .web-programming {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .img-programming, .img-development, .img-webDev {
    width: 50%;
    object-fit: cover;
  }
  
  .dev {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
    
  }
  
  .dev ul {
    flex: 1;
    margin: 0;
    padding: 0;
    
  }
  
  .dev h3 {
    margin-bottom: 1rem;
  }
  
  .dev li {
    margin-bottom: 0.5rem;
  }
  
  .img-webDev {
    width: 50%;
    margin-left: 2rem;
    object-fit: cover;
  }
  
  .service {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .sub-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  

  @media screen and (max-width:768px) {
    .dev{
      flex-wrap: wrap;

    }
    .img-webDev{
      width: 100%;
      object-fit: cover;
    }
    
  }